<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Shack Shack</title>
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    </head>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"> 
                                               <i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                    <a href="/" class="nav-link">Home</a>
                    </li>
                </ul>
            
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                  <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                    <i class="fas fa-search"></i>
                  </a>
                  <div class="navbar-search-block">
                    <form class="form-inline">
                      <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                          <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                          </button>
                          <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </li>
            </ul>
            </nav>
            <!-- /.navbar -->
            
            <aside class="main-sidebar sidebar-dark-primary elevation-2" style="height: auto;">
            <!-- Brand Logo -->
                <a href="#" class="brand-link">
                  <img src="logo.jpg" class="brand-image img-circle elevation-3">
                  <span class="brand-text font-weight-light">Shake Shack</span>
                </a>
                <!-- Sidebar -->
                <div class="sidebar" style="height:auto;">
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item">
                                <a href="/create" class="nav-link">
                                    <i class="nav-icon far fa-circle text-info"></i>
                                    <p>Add Items</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/updatequantity" class="nav-link">
                                    <i class="nav-icon far fa-circle text-warning"></i>
                                    <p class="text">Update Items</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/deleteitem" class="nav-link">
                                    <i class="nav-icon far fa-circle text-danger"></i>
                                    <p class="text">Delete Items</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>
            
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper" style="height:auto;"> 
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                          <div class="row mb-2">
                            <div class="col-sm-6">
                                  <h1>Shake Shack Inventory Management</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item">Kitchen Inventory</li>
                                    <li class="breadcrumb-item active">Update Items</li>
                                </ol>
                            </div>
                          </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- left column -->
                            <div class="col-md-6">
                                <!-- general form elements -->
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Update Items</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <form action="/update" method="POST">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="ID">Item ID</label>
                                                <input type="number" class="form-control" id="ID" name="ID" placeholder="Enter Item ID">
                                            </div>
                                            <div class="form-group">
                                                <label for="Quantity">New Quantity</label>
                                                <input type="number" class="form-control" id="Quantity" name="Quantity"placeholder="Enter Quantity">
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer">
                                            <button id="update" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!--/.col (right) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- ./wrapper -->
        <footer class="main-footer" style="text-align: center;">
            <div class="float-right d-none d-sm-block"></div>
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2004-2021 <a href="https://adminlte.io">Shake Shack</a>.</strong> All rights reserved.   
        </footer>	
            
            <!-- jQuery -->
            <script src="../../plugins/jquery/jquery.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- bs-custom-file-input -->
            <script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
            <!-- AdminLTE App -->
            <script src="../../dist/js/adminlte.min.js"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="../../dist/js/demo.js"></script> 
    </body>
</html>